.servicesSubTitle{
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    color: #1e1e1e;
}
.titleParagraph{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    color: var(--grey-color);
    padding: 15px 0;
    font-size: 20px;
    letter-spacing: 1px;
}
.servicesContent{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    flex-grow: 0;
    gap: 35px;
}
.service{
    border: 1px solid var(--second-color);
    border-radius: 10px;
    flex-basis: 18%;
    padding: 25px;
    transition: all 0.2s linear;
    margin-bottom: 25px;
}
.service svg{
    font-size: 42px;
    margin-bottom: 15px;
    color: var(--main-color);

}
.serviceTitle{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #1e1e1e;
}
.serviceDescription{
    color: var(--grey-color);
    font-size: 14px;
}
.service:hover{
    background: var(--second-color);
}
.service:hover .serviceDescription{
    color: #fff;
}
.service:hover .serviceLogo svg{
    color: var(--white);
}

.service:hover .serviceTitle{
    color: #fff;
}

@media screen and (max-width: 800px){
    .service{
        flex-basis: 22%;
    }
    .servicesSubTitle{
        font-size: 24px;
    }
}
@media screen and (max-width: 600px){
    .servicesSubTitle{
        font-size: 20px;
    }
    .service{
        padding: 15px;
    }
    .service svg{
        font-size: 36px;
    }
    .serviceTitle{
        font-size: 16px;
    }
    .serviceDescription{
        font-size: 10px;
    }
}

