.menuBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(250,250,250,0.9);
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}
.logo{
    color: var(--second-color);
    padding: 20px 25px;
}
.menu nav{
    display: flex;
    width: 100%;
    margin-right: 25px;
}
.menu nav div.menuItems{
    display: flex;
}
.menu nav .item{
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: var(--second-color);
    transition: all 0.2s ease;
    cursor: pointer;
    padding: 20px 0;
}
.itemWrapper {
    position: relative;
}
.item{
    /* position: relative; */
}
.item span{
    display: flex;
    align-items: center;
}
.item svg{
    transform: rotate(90deg);
}
.itemWrapper:hover > .subMenu{
    display: block;
}
.subMenu{
    position: absolute;
    left: 0;
    top: 61px;
    display: none;
    background-color: rgba(250,250,250,0.7);
}
.subMenu div{
    padding: 10px ;
    white-space: nowrap;
}
.subMenu div:hover{
    background-color: var(--second-color);
    color: #fff;
}
.menu nav .itemWrapper:hover > span{
    color: var(--main-color);
}
.burgerMenu{
    color: var(--second-color);
    display: none;
    font-size: 24px;
    transition: all 0.2s linear;
}



@media screen and (max-width:1000px)  {
    .menu nav .item{
        font-size: 14px;
    }
    .subMenu{
        top:59px
    }
}
@media screen and (max-width:880px)  {
    .menu nav .item{
        font-size: 12px;
        margin-left: 12px;
    }
    .subMenu{
        top:56px
    }
}
@media screen and (max-width:700px)  {
    .menuBlock {
        position: relative;
    }
    .subMenu{
        top:56px
    }
    .burgerMenu{
        display: inline-block;
    }
    .menuOpened{
        transform: rotate(90deg);
    }

    
    .menu nav div.menuItems{
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        background-color: var(--second-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s linear;
    }
    
    .menu nav div.menuItems .item{
        position: relative;
        color: var(--white);
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .subMenu{
        position: unset;
        display: block;
        background-color: transparent;
        color: #fff;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease;
    }
    .menu nav div.menuItems .itemWrapper:hover > .subMenu{
        max-height: 500px;
    }
    .menu nav div.burgerMenuActive{
        max-height: 1200px;
    }
    .subMenu a{
        color: #fff;
    }
}