.templateContent{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    gap:50px;
    align-items: center;
}
.templateContent > div{
    flex-basis: 47%;
}
.templateContent .imageBlock img{
    width: 100%;
    border-radius: 10px;
}
.infoTitle{
    font-size: 56px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 25px;
    letter-spacing: 1px;
}
.description{
    color: var(--grey-color);
    margin-bottom: 50px;
    letter-spacing: 1px;
}
.item{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.item svg{
    color: #006f93;
    font-size: 28px;
    margin-right: 15px;
}
@media screen and (max-width: 1140px){
    .infoTitle{
        font-size: 42px;
    }
    .description{
        font-size: 14px;
    }
}
@media screen and (max-width: 920px){
    .templateContent > div{
        flex-basis: 43%;
    }
    .infoTitle{
        font-size: 28px;
    }
    .description{
        font-size: 10px;
    }
}
@media screen and (max-width: 700px){

    .infoTitle{
        font-size: 20px;
    }
    .description{
        font-size: 8px;
    }
    .item svg{
        font-size: 20px;
    }
}
@media screen and (max-width: 530px){
    .templateContent{
        gap: 20px;
    }
    .templateContent{
        flex-direction: column;
    }
    .InfoBlock{
        width: 100%;
        text-align: left;
    }
    .infoTitle{
        font-size: 28px;
    }
    .description{
        font-size: 12px;
    }
    .item svg{
        font-size: 24px;
    }
}