.aboutPage{
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.aboutContent{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    gap:50px;
    align-items: center;
}
.aboutContent div{
    flex-basis: 47%;
}
.aboutContent .imageBlock img{
    width: 100%;
    border-radius: 10px;
}
.infoTitle{
    font-size: 46px;
    font-weight: 700;
    color: var(--black);
    margin-bottom: 25px;
}
.description{
    color: var(--grey-color);
    margin-bottom: 50px;
}
.ourMissions{
    display: flex;
}
.missionTitle{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}
.missionItems{
    color: var(--grey-color);
}
.missionItems div{
    margin-bottom: 5px;
}
.missionItems div svg{
    color: var(--main-color);

}
