.informationBlock{
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color:#fff;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}
.contacts,.links{
    display: flex;
    align-items: center;
}
.contacts div{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.contacts div span{
    display: flex;
    align-items: center;
    margin-right: 7px;
}
.links div{
    margin-left: 10px;
}